[Unit]
Description=A Cimple HTTP server
After=local-fs.target

[Service]
ExecStart=/usr/bin/chttp
StandardInput=socket
StandardOutput=socket
StandardError=journal
